.scrollable-block {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

/* Optional: Ensure the code block inside doesn't have weird margins */
.scrollable-block .highlight {
    margin: 0;
}

.container.image-block {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
    margin: 0px 0px 0px 0px
}

.container.image-block-caption {
    color: #efefef;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #1c4e63;
}

.container.image-block-content {
    background-color: #273a50;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}